#infoBox {
    position:fixed;
    bottom: 1%;
    left: 50%;
    background-color:#fafafa;
    margin-left: -300px;
    margin-right: auto;
    width: 600px;
    height: auto;
    padding: 10px;
    border-color:#140404;
    border-width:thin;
    border-style:double;
    border-radius: 4px;
    font-family:'Slabo 27px', serif;
    color: #140404;
    z-index: 9;
}
form {
  display: inline-block;
  position: fixed;
  top: 70px;
  background-color: #fafafa;
  padding: 15px 10px;
  border: #140404;
  border-style: double;
  border-radius: 4px;
  z-index: 8;
  height: 80px
}
form#deviceRadios {
  display: inline-block;
  top: 205px;
  height:auto;
  vertical-align: top;
  position: fixed;
  width: 8%;
  background-color: #fafafa;
  padding: 15px 10px;
  border: #140404;
  border-style: double;
  border-radius: 4px;
  z-index: 8;
}
form#deviceRadios input {
    float:left;
    
}
label {
  display: block;
  font-family:'Slabo 27px', serif;
  color: #140404;
  
}
ul {
    list-style-type: none;
}
li {
    text-align: center;
}
#last {
    padding-bottom: 300px;
}