form {
  width: 150px;
  position:fixed;
	border-style:solid;
    background: grey;
    z-index: 300;
    right:10px;
    top:40px;
}
#radios{
	top:350px;
	}
	
form label {
    display:block;
    
}

div.song {display:block }


div {display: inline-block;}

div.overlay {
    position:absolute;
    width:15px;
    background-color:rgba(100,250,200,.8);
    z-index: 10; 
   border: 2px solid black; 
   border-radius: 7px; 
   padding-right: 1px; 
   padding-left: 1px; 
   margin: 0; 
   text-align:center
    
			}