body {
    background-color: #fafafa; 
}
div#nav { 
  background-color: #8c8c8c;
  position: fixed;
  left: 0px;
  width: 100%;
  top: 0px;
  z-index:2;
    } 
div#navbar { 
   margin: 0;  
   width: 100%; 
   text-align: center; 
   } 
div#navbar ul { 
   list-style: none; 
   margin: 0; 
   padding: 0;
   position: relative
   } 
div#navbar ul li { 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
   font-size: large;
   font-family: 'Slabo 27px', serif;
   font-weight: bold;
    } 
div#navbar ul li:hover {
    background-color: #fafafa;
}
div#navbar ul li a,visited {
    color: #140404;
    display: block;
    padding: 15px;
    text-decoration: none
    }
div#navbar ul li:hover ul{
    display: block;
}
div#navbar ul ul {
    display: none;
    position: absolute;
    background-color: #fafafa;
}
div#navbar ul ul li {
    display: block;
}
#homebanner {
    background: url(splashheader.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 50px;
}
#projectbanner {
    background: url(splashheader.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 50px;
}
#methodbanner {
    background: url(splashheader.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 50px;
}
#banner1999 {
    background: url(1999.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 50px;
}
#rejexbanner {
    background: url(splashheader.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 50px;
}
#summerbanner {
    background: url(splashheader.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 50px;
}
#B4banner {
    background: url(splashheader.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 50px;
}
#content {
    width: 1293px;
    position: relative;
    top: 650px;
    padding: 20px;
    background: rgba(245,245,245,.9);
    height: 1500px;
    border-radius: 10px;
    box-shadow: v-shadow blur;
}
.headfont {
    font-family: 'Rock Salt', cursive;
    font-size:x-large;
    color: #140404;
    text-align: center;
    margin: 5px auto;
}
.bodyfont {
    font-family: 'Slabo 27px', serif;
    color: white;
    text-align: center;
    margin: 0px
}
.box {
    padding: 20px;
    background-color: #8c8c8c;
    border-radius: 10px;
    width: 700px;
    margin: 50px auto;
}
.bio {
    background-color: #8c8c8c;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    width: 200px;
    height: 375px;
    margin: 10px;
}
hr {
    border-color: maroon;
    border-style: dashed
}
.social {
    display: inline-block;
    width: 35px;
    height: auto;
    margin: 5px;
}
